@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
header {
  background-color: #212121;
  width: 100vw;
  max-height: 100px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .titulo {
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
  text-align: center;
  color: white;
  font-family: "Dancing Script", cursive;
}
header .logo img {
  max-width: 50px;
}
