* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.01em;
}
body {
  max-width: 500px;
}
.conteudo {
  display: flex;
  column-gap: 40px;
  padding: 20px 10px;
}
#acervo img {
  width: 15px;
  height: 15px;
}
legend,
h1 {
  font-size: 24px;
  font-weight: 600;
  color: rgba(26, 18, 99);
}
h1 {
  padding: 0;
  margin: 0 0 12px;
}
fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-radius: 6px;
  border-color: rgba(26, 18, 99);
  height: 450px;
}
fieldset input,
fieldset textarea,
fieldset select {
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(26, 18, 99);
  height: 30px;
  width: 400px;
  padding: 4px 12px;
}
input::placeholder,
textarea::placeholder,
select {
  color: rgb(46, 39, 105);
}
fieldset textarea {
  height: 100px;
}
fieldset button,
#btn {
  background-color: rgba(26, 18, 99);
  height: 40px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
}
fieldset button:hover,
#btn:hover {
  background-color: rgb(50, 40, 134);
  cursor: pointer;
}
#btn {
  width: 100%;
  margin-top: 40px;
}
.table {
  display: flex;
  flex-direction: column;
}
th:not(:last-child) {
  background-color: #e4e4e4;
  padding: 2px 25px;
}
td:not(:last-child) {
  padding: 2px 25px;
  background-color: #f5f4f4;
}
